.AnimateIn {
  animation-name: slide-down-in;
  animation-duration: 0.5s;
}

@keyframes slide-down-in {
  0% {
    transform: translateY(-2%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.AnimateOut {
  animation-name: slide-down-out;
  animation-duration: 0.5s;
}

@keyframes slide-down-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(2%);
    opacity: 0;
  }
}

.MenuList {
  flex-grow: 1;
  overflow-y: scroll;
}

.MenuListContainer {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.MenuItem {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.MenuItem:hover {
  cursor: pointer;
}
